# =========================
# Rust / Embedded Build
# =========================
/target/
target/

# =========================
# Logs locais
# =========================
*.log

# =========================
# IDEs / editores
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
